body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 600;
}

.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: repeat(16, 1fr);
}

.header {
	grid-row: 1;
	border: 3px solid green;
}

.main {
	grid-row: 2 / 9;
	border: 3px solid green;
}

.footer {
	grid-row: 9;
	border: 3px solid green;
}